dictionaries/dic.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Robert Hibbert (Penn State Univ) -->
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="Entry">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="nouns" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="verbs" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="adjectives" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="exclamations" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="engacro" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="acronyms" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="adverbs" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="prepositions" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="abbreviations" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="conjunctions" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="pronouns" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="phrasalverbs" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="expressions" minOccurs="0" maxOccurs="1"/>
			</xs:choice>
			<xs:attribute name="frequency" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="acronyms">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="translations" minOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="adjectives">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="translations" minOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="adverbs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="translations" minOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="prepositions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="translations" minOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="conjunctions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="translations" minOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="pronouns">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="translations" minOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="abbreviations">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="translations" minOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="phrasalverbs">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="translations" minOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="expressions">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="translations" minOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="catexamp" type="xs:string"/>
	<xs:element name="catnote" type="xs:string"/>
	<xs:element name="dictionary">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Entry" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="engacro" type="xs:string"/>
	<xs:element name="catacro" type="xs:string"/>
	<xs:element name="engexamp" type="xs:string"/>
	<xs:element name="engnote" type="xs:string"/>
	<xs:element name="example" type="xs:string"/>
	<xs:element name="exclamations">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="translations" minOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="nouns">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="translations" minOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="otherlocal" type="xs:string"/>
	<xs:element name="synonyms" type="xs:string"/>
	<xs:element name="plural" type="xs:string"/>
	<xs:element name="translation">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="otherlocal"/>
				<xs:element ref="plural"/>
				<xs:element ref="catexamp"/>
				<xs:element ref="engexamp"/>
				<xs:element ref="synonyms"/>
				<xs:element ref="catnote"/>
				<xs:element ref="example"/>
				<xs:element ref="engnote"/>
				<xs:element ref="catacro"/>
				<xs:element ref="translation"/>
			</xs:choice>
			<xs:attribute name="catagory" type="xs:string"/>
			<xs:attribute name="termcat">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="true"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="local">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="au"/>
						<xs:enumeration value="gb"/>
						<xs:enumeration value="us"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="register">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="colloquial"/>
						<xs:enumeration value="humorous"/>
						<xs:enumeration value="slang"/>
						<xs:enumeration value="vulgar"/>
						<xs:enumeration value="formal"/>
						<xs:enumeration value="dialectal"/>
						<xs:enumeration value="offensive"/>
						<xs:enumeration value="derogatory"/>
						<xs:enumeration value="dated"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="gender">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="m"/>
						<xs:enumeration value="f"/>
						<xs:enumeration value="fpl"/>
						<xs:enumeration value="mf"/>
						<xs:enumeration value="mpl"/>
						<xs:enumeration value="mfullform"/>
						<xs:enumeration value="ffullform"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="noteng">
			<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="TRUE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="translations">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="translation" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="verbs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="firstPresent" minOccurs="0"/>
				<xs:element ref="secondPresent" minOccurs="0"/>
				<xs:element ref="thirdPresent" minOccurs="0"/>
				<xs:element ref="past" minOccurs="0"/>
				<xs:element ref="participle" minOccurs="0"/>
				<xs:element ref="gerund" minOccurs="0"/>
				<xs:element ref="translations"/>
			</xs:sequence>
			<xs:attribute name="double">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="true"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ie">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="true"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="firstPresent"/>
	<xs:element name="secondPresent"/>
	<xs:element name="thirdPresent"/>
	<xs:element name="past"/>
	<xs:element name="participle"/>
	<xs:element name="gerund"/>
</xs:schema>
